<h1>hi welcome to my homepage</h1>
<h2>837 회차 로또 게임을 해봅시다!</h2><br>
<h3 style='color:blue;'>번호를 스스로 뽑고 싶으세요?</h3>
<h4>원하시는 번호를 6개 생각하신 후, 주소창에 http://startcamp-snowink1137.c9users.io:8080/lotto/'뽑으신번호' 를 입력해주세요!</h4>
<h4>(ex) 1, 2, 3, 10, 45, 9 를 뽑으셨을 경우에는 http://startcamp-snowink1137.c9users.io:8080/lotto/1/2/3/10/45/9 라고 입력해주시면 됩니다!</h4>
<h4>주의 사항</h4>
<h4>로또 번호는 중복되면 안돼요!</h4>
<h3 style='color:blue;'>번호를 뽑아 드릴까요?</h3>
<h4>주소창에 http://startcamp-snowink1137.c9users.io:8080/lotto/pick 을 입력해주세요! </h4>